In [4]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning)

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [12]:
!ls '/content/drive/MyDrive/End-to-End_Deep_Learning:_Prepare_Tabular_Data'

AB_NYC_2019.csv  deploy_web_config.yml	Part1.ipynb

In [13]:
#Veriyi YÃ¼kleyelim

df = pd.read_csv('/content/drive/MyDrive/End-to-End_Deep_Learning:_Prepare_Tabular_Data/AB_NYC_2019.csv')

In [14]:
df.head()

     id  ... availability_365
0  2539  ...              365
1  2595  ...              355
2  3647  ...              365
3  3831  ...              194
4  5022  ...                0

[5 rows x 16 columns]

In [15]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [16]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [17]:
df = df.dropna() 
df.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64